<div class="evalution-view">
    <div class="evalution-view__description">
        <h1>
            Đánh giá kết quả
        </h1>
        <p>
            Bảng <b>Đầu vào</b> hiển thị các thông tin đầu vào.
        </p>
        <p>
            Đánh giá kết quả của 2 quá trình dự đoán dung lượng Pin và dự đoán vòng đời Pin lần lượt sẽ được hiển thị tại 2 bảng 
            <b>Dung lượng pin dự đoán</b> và <b>Vòng đời còn lại dự đoán của Pin</b>.
        </p>
        <p>
            Nếu muốn thực hiện dự đoán cho một chu kỳ đầu vào khác, vui lòng bấm nút <b>Đặt lại</b> góc trên bên trái hoặc tải lại trang.
        </p>
    </div>
    <div class="evalution-view__panel">
        <div>

        </div>
    </div>
    <div class="evalution-view__main">
        <div class="result-box input">
            <div class="result-box__header">
                <mat-icon fontIcon="list_alt"></mat-icon>
                <span class="result-box__title">
                    Đầu vào
                </span>
            </div>
            <div class="result-box__main">
                <ul>
                    <li>
                        <span class="prop">STT Pin: </span>
                        <span>{{result.battery_order}}</span>
                    </li>
                    <li>
                        <span class="prop">Số lượng: </span>
                        <span>{{result.resultStates.length}}</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="result-box capacity">
            <div class="result-box__header">
                <mat-icon fontIcon="battery_4_bar"></mat-icon>
                <span class="result-box__title">
                    Dung lượng pin dự đoán
                </span>
            </div>
            <div class="result-box__main">
                <ul>
                    <li>
                        <span class="prop">RMSE: </span>
                        <span>{{result.rmse_Qi| number: '1.6-6'}}</span>
                    </li>
                    <li>
                        <span class="prop">MAPE: </span>
                        <span>{{result.mape_Qi | number: '1.6-6'}}</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="result-box remain-life">
            <div class="result-box__header">
                <mat-icon fontIcon="monitor_heart"></mat-icon>
                <span class="result-box__title">
                    Vòng đời còn lại dự đoán của Pin
                </span>
            </div>
            <div class="result-box__main">
                <ul>
                    <li>
                        <span class="prop">RMSE: </span>
                        <span>{{result.rmse_remain_cycle| number: '1.6-6'}}</span>
                    </li>
                    <li>
                        <span class="prop">MAPE: </span>
                        <span>{{result.mape_remain_cycle | number: '1.6-6'}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>